.yearbook-index {
  .wrapper {
    .yearbook-img {
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    .yearbook-content {
      padding: 20px;
      background-color: #fa4542;
      box-shadow: 10px 5px 5px white;
    }
  }
}
