.show {
  background: white;
  padding: 34px;
  color: black;
  border-top: 5px solid firebrick;

  img {
    width: 300px;
  }

  p, h1, h5 {
    color: black;
  }

  h5 {
    font-size: 1rem;
  }
}

.center {
margin-top: 100px;

}
