.book-container {
    background: black;
    box-shadow: 10px 5px 5px black;
    width:450px;
    height:600px;
    color: white;
    border: 4px solid white;
    border-left: none;
    text-align: center;
    border-radius: 2px;

    img {
      width:50%;
      margin-top: 30px;
    }

    p  {
      font-size: 50px;
      text-align: center;
    }
}

aside {
  float:right;
  p  {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    padding: 20px;
    line-height: 50px;
    color: white;
  }
}
