<h1>Index</h1>

<%# profiles%>
<ul>
  <% profiles.forEach((profile) => { %>
    <li>
      <%= profile.image %>
      <p><%= profile.name %></p>
      <p><%= profile.quote %></p>
    </li>
  <% }); %>
</ul>
