<section class="landing-page">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="https://files.slack.com/files-tmb/T0351JZQ0-F7N945SUQ-fd1f46edef/ga_neon_720.jpg">
      <h1 class="display-3">WDI Yearbook 2017</h1>
      <button class="buttons"><a href="/login">Login</a></button>
      <button class="buttons"><a href="/register">Register</a></button>
    </div>
  </div>

<%# <h1>WDI Yearbook 2017</h1>
<div class ="container">
  <img src="https://files.slack.com/files-tmb/T0351JZQ0-F7N945SUQ-fd1f46edef/ga_neon_720.jpg">
  <button><a href="/login">Login</a></button>
  <button><a href="/register">Register</a></button>
</div>
</section>%>


<%# <main class="container">
  <section class="col-md-8">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="img__wrap">
          <img class="img__img" src="https://orig00.deviantart.net/4b77/f/2014/065/6/f/coding_ninja_by_kaizoro-d797me9.jpg"/>
          <p class="img__description">Insert description</p>
        </div>
      <div class="col-md-4 col-lg-4">
        <div class="img__wrap">
          <img class="img__img" src="https://orig00.deviantart.net/4b77/f/2014/065/6/f/coding_ninja_by_kaizoro-d797me9.jpg"/>
          <p class="img__description">Insert description</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="img__wrap">
          <img class="img__img" src="https://orig00.deviantart.net/4b77/f/2014/065/6/f/coding_ninja_by_kaizoro-d797me9.jpg"/>
          <p class="img__description">Insert description</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="img__wrap">
          <img class="img__img" src="https://orig00.deviantart.net/4b77/f/2014/065/6/f/coding_ninja_by_kaizoro-d797me9.jpg"/>
          <p class="img__description">Insert description</p>
      <div class="col-md-4 col-lg-4">
        <div class="img__wrap">
          <img class="img__img" src="https://orig00.deviantart.net/4b77/f/2014/065/6/f/coding_ninja_by_kaizoro-d797me9.jpg"/>
          <p class="img__description">Insert description</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="img__wrap">
          <img class="img__img" src="https://orig00.deviantart.net/4b77/f/2014/065/6/f/coding_ninja_by_kaizoro-d797me9.jpg"/>
          <p class="img__description">Insert description</p>
      </div>
    </div>
  </section>%>
