<main class="homepage">
    <div class="book-container">
      <img src="https://files.slack.com/files-tmb/T0351JZQ0-F7N945SUQ-fd1f46edef/ga_neon_720.jpg">
      <h1 class="display-3">WDI Yearbook 2017</h1>
      <button class="buttons"><a href="/login">Login</a></button>
      <button class="buttons"><a href="/register">Register</a></button>
    </div>
    <p>Share memories of WDI 30</p>
    <p>Join the class of 2017</p>
</main>
