<div class="wrap">
  <div class="row">
    <div class="col-md-6">
      <div class="book-container">
        <img src="https://files.slack.com/files-tmb/T0351JZQ0-F7N945SUQ-fd1f46edef/ga_neon_720.jpg">
        <h1 class="display-3">WDI Yearbook 2017</h1>
        <button class="btn-danger"><a href="/login">Login</a></button>
        <button class="btn-danger"><a href="/register">Register</a></button>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Share memories of WDI 30</h2>
      <h2>Join the class of 2017</h2>
    </div>
  </div>
</div>
