<h1>Edit</h1>
<form method="POST" action="/yearbooks/<%= yearbook.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" value="<%= yearbook.name %>">
  </div>
  <div class="form-group">
    <label for="quote">Description</label>
    <input type="text" name="description" id="description" value="<%= yearbook.description %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" name="image" id="image" class="form-control" value="<%= yearbook.image %>">
  </div>

  <button class="btn btn-primary">Edit</button>
</form>
